<div class="container">
    <!----------------------------------  TIME ---------------------------------------------------->
    <div class="time">
        <div class="bordure">
            <div class="timer-cont">
                <div class="timer">
                    <div>{{zeroM}}{{min}}</div>
                    <div>:</div>
                    <div>{{zeroS}}{{sec}}</div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------- STANDS -------------------------------------------------->

    <div class="stands">
        <img src="./../../../assets/machine1.png" alt="ordi">
        <div *ngIf="consignesDiv" class="consignes" (click)="changer('stands')">
            
            Cliquez sur l'écran pour voir dans quels stands vous rendre. Des indices vous aideront à trouver les 12 chiffres du code de lancement
                de la fusée
        </div>
        <div *ngIf="standsDiv" class="ecran-stands" (click)="changer('consignes')">
            <div *ngFor="let stand of auth.stands">
                <div>{{stand}}</div>
            </div>
        </div>
        <div class="lumiere-rouge"></div>
        <div class="lumiere-verte"></div>
    </div>
    <!---------------------------------------- ENIGME -------------------------------------------------->
    <div class="enigme">
        <app-enigme ></app-enigme>
    </div>
    <!------------------------------------------------------------------------------------------>
</div>