<div class="container">

    <div class="video">
        <video controls autoplay>
            <source  src="./../../../assets/ecam-video.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos 
        </video>
    </div>

    <div class="co">
        <div>
            <p>Nouvelle équipe ?<p>
            <button (click)="nav('inscription')">INSCRIPTION</button>
        </div>

        <div>
            <p>Déjà enregistrés ? </p>
            <button (click)="nav('connexion')">RECONNEXION</button>
        </div>
    </div>
</div>