.container{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}
.logo-pi img{
    height: 15vh;
}
.logo-ecam49 img{
    max-width: 90vw;
}
.login>div{
    height: 10vh;
    color:white;
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    
}
input{
    font-size: 6vh;
    font-weight: bold;
    height:10vh;
    width: 65vw;
    display: block;
    margin: auto;
    opacity: 0.5;
   // text-transform: uppercase;
}
button{
    color: white;
    background-color: rgba(1,1,1,0.5);
    font-size: 4vh;
    
    height:8vh;
    width: 35vw;
    display: block;
    margin: auto;
    padding: 2vh ;
    opacity: 0.5;
    border-radius: 1vh;
}
.msg-error{
    color: red;
    //font-weight: bold;
    height: 8vh;
}
.logo-admin img{
    width: 20vw;
}
.logo-admin{
   padding-left: 75vw;
}


