.lettre{
    height: 10vw;width: 10vw;
    background-image: url(./../../../assets/touche.png);
    background-size: contain;
 font-weight: bold;
 display: flex;align-items: center;justify-content: center;
 transition: transform 0.8s ;
}
.lettre:active{
   transform: scale(0.8);
   
}
img[alt='fleche']{
    width :auto;height: 5vw ;
}


.azerty{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(3,1fr);
}